.embla {
  overflow: hidden;
}
.emblaContainer {
  display: flex;
}

.emblaSlide1 {
  flex: 0 0 100%;
  min-width: 0;
  width: 5rem;
  height: 13rem;
  background-color: blue;
}

.emblaSlide2 {
  flex: 0 0 100%;
  min-width: 0;
  width: 5rem;
  height: 13rem;
  background-color: red;
}

.emblaSlide3 {
  flex: 0 0 100%;
  min-width: 0;
  width: 5rem;
  height: 13rem;
  background-color: green;
}